body {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Comic Sans MS';
}

#content {
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Comic Sans MS';
    justify-content: space-around;
}

table {
    width: 40%;
    table-layout: fixed;
}

th {
    width: 100%;
    border: none;
    border-radius: 10px;
}

#video {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comic Sans MS';
    justify-content: space-around;
}